html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Acrom';
    color: rgb(27, 32, 42);
    font-size: 14px;

    @media (min-width: 768px) {
        font-size: 16px;
    }

    @media (min-width: 1340px) {
        font-size: 18px;
    }
}

     