.section-way {
    background-color: #102135;
    color: #fff;
    padding-top: 40px;
    
}

.section-way__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    margin: 0;


    @media (min-width: 768px) and (max-width: 1339px) {
        font-size: 22px;
    }

    @media (min-width: 1340px) {
        font-size: 30px;
        margin-bottom: 60px;
        width: 705px;
    }
}

.section-way__boldtxt::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: #00eaff;
    margin: 27px 0 19px;
}
.section-way__boldtxt {
    font-weight: 900;
    line-height: 1.571;

    @media (min-width: 768px) and (max-width: 1339px) {
        font-size: 16px;
        
    }

    @media (min-width: 1340px) {
        font-size: 18px;
    }
        
}

.section-way__txt {
    line-height: 1.571;

    @media (min-width: 768px) and (max-width: 1339px) {
        font-size: 16px;
        width: 395px;
    }

    @media (min-width: 1340px) {
        font-size: 18px;
    } 
}

.section-way__question {
    font-size: 18px;
    color: #00eaff;
    font-weight: 900;
    line-height: 1.5;
    

    @media (min-width: 768px) and (max-width: 1339px) {
        font-size: 40px;
        margin: 30px auto;
    }

    @media (min-width: 1340px) {
        font-size: 48px;
        margin: 0;
        margin-bottom: 60px;
    }
}
.section-way__reverse {
    padding-bottom: 34px;
    @media (min-width: 1340px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        
}}

  .section-way__part-1 {
      @media (min-width: 1340px) {
            width: 490px;
        }

  }
  .section-way__part-2 {
      @media (min-width: 1340px) {
        display: inline-block;
        width: 700px;}
  }

.section-way__btn {
    background: #ff702a;
    color: #fff;
    padding: 30px 15px;
    text-align: center;
    margin: 26px auto 0;
    display: block;
    border: none;
    text-transform: uppercase;
    box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);
    font-weight: 900;
    font-family: 'acrom';
    
    @media (min-width: 768px) and (max-width: 1339px) {
        width: 530px;
        font-size: 18px;
        margin-left: 0;
    }

    @media (min-width: 1340px) {
        width: 680px;
        font-size: 30px;
    }

    &:hover {
        box-shadow: 0px 2px 10px 0px rgba(0, 234, 255, 0.59);
        background: rgb(0, 234, 255);
    
    }
}
